*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #cedce4;
    height: 700px;
}
.header{
    position: absolute;
    top: 50px;
    width: 1109px;
    left: 128.5px;
    height:116px;
    color: #5f5f5f;
    font-size: 20px;
    text-align: center;
    font-family: 华文彩云;

}
#box{
    width: 1109px;
    height: 464px;

    left: 128.5px;
    top:166px;
    position: absolute;
}
#box ul li{
    position: absolute;
    float: left;
}
.image {
    width: 464px;
    height: 464px;
    box-shadow: 10px 10px 5px #7d8285;

    -webkit-animation:transform-1 1.5s ease 500ms alternate none 1;
    animation:transform-1 1.5s ease 500ms alternate none 1;
}
.text{
    color: #404040;
    width: 582px;
    height: 400px;
    top: 40px;
    right: 4px;
    letter-spacing: 1px;
    line-height: 30px;

    -webkit-animation:transform-2 1.5s ease 500ms alternate none 1;
    animation:transform-2 1.5s ease 500ms alternate none 1;
}

@-webkit-keyframes transform-1 {

    from{
        opacity: 0;
        display: none;
        -webkit-transform: rotateY(90deg);
        transform:  rotateY(90deg);
    }

    to{
        opacity: 1;
        display: block;
        -webkit-transform:  rotateY(0deg);
        transform:  rotateY(0deg);
    }

}

@keyframes transform-1 {

    from{
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to{
        opacity: 1;

        -webkit-transform:rotateY(0deg);
        transform: rotateY(0deg);
    }

}
@-webkit-keyframes transform-2 {

    from{
        -webkit-transform:rotateY(-90deg);
        transform:rotateY(-90deg);
    }

    to{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

}

@keyframes transform-2 {

    from{
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    to{
        -webkit-transform:rotateY(0deg);
        transform: rotateY(0deg);
    }

}