*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}
body{
    background-image: url("../image/social/dd.jpg");
}
#box{
    width: 500px;
    height: 400px;
    left: 433px;
    top:100px;
    position: absolute;
    border-radius: 50%;

}
#box div{
    width: 200px;
    height: 200px;
    position:absolute;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    cursor: pointer;
    border-radius: 50%;
}

#box div ul{
    width: 200px;
    height: 200px;
    position: absolute;
}
#box div ul li{
    position: absolute;
    float: left;

    width: 200px;
    height: 200px;
    display: block !important;
    overflow: hidden;
}
.mengban{
    background-color: #373737 !important;
    z-index: 20;
    opacity: 0;
    text-align: center;
    font-size: 90%;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    float: left;
}
.mengban:hover{
    opacity: 1;
    transition: 1s;
}
h4{
    position: absolute;
    top:50px;
}
p{
    position: absolute;
    top:90px;

}